* {
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
  line-height: .5;
}

form {
  background-color: antiquewhite;
}

a {
  /* text-decoration: none; */
  color: inherit;
}

.inline {
  display: flex;
  align-items: center;

}

.hidden {
  display: none;
}

.weather-display {
  display: flex;
  gap: 5rem;
}

.rtl {
  direction: rtl;
}