* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  letter-spacing: 1px;
  line-height: 0.5;
  background-color: #E5E5E5;
}

input {
  font-size: 1rem;
  width: 300px;
  border: none;
  padding: 0.3em 0.5em;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.content {
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 10px;
}

.container {
  flex-direction: column;
  gap: 1rem;
}

.search {
  margin-bottom: 25px;
  gap: 1rem;
}

.weather-display {
  justify-content: space-between;
}

.temp {
  align-items: center;
}

.rtl {
  direction: rtl;
}
